*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: hsl(27, 66%, 92%);
    font-family:'DM Sans', sans-serif;
    
}
main{
    min-width: 337px;
    max-width: 340px;
    width: 50vw;
    height: 550px;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.description{
    
    font-weight: 400;
}
.money,.percent,.spending__description{
    
    font-weight: 700;
}
.mybalance{
    background-color: hsl(10, 79%, 65%);
    color: white;
    height: 18%;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    
}

.mybalance__description{
    margin-left: -50px;
}

.mybalance__logo{
    margin-right: -50px;
}

.mybalance,.spending{
    border-radius: 10px;
}

.mybalance .money{
    margin-top: 10px;
    
}


.spending{
    background-color: white;
    /* color: white; */
    height: 75%;
    margin-top: 15px;
    padding: 5%;
    display: flex;
    flex-flow: column nowrap;
}
.spending h2{
    margin: 0;
    font-size: 1.3rem;
    flex-grow: 0.3;
    /* border:blue solid 4px; */
}

.spending__week{
    /* background-color: red; */
    /* width: 100%; */
    /* height: 1000px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
    /* border:blue solid 4px; */
}

.spending__amount{
    /* background-color: hsl(147, 91%, 45%); */
    /* width: 5px; */
    height: 95%;
    margin-bottom: 3%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;

}

.total{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    flex-grow: 0;
    border-top:hsl(25, 47%, 15%) solid 1px;
}
.money{
    font-size: 20px;
}

.total .money, .total .description {
    
    margin-top: 0;
}
.total__month, .total .percent{
    margin-bottom: 0;
}

.total .description,.total__month{
    color:hsl(28, 10%, 53%);
}
